body {
    font-family: sans-serif;
    margin: 50px 50px;
  }
  
  #container {
    display: flex;
    gap: 50px;
  }
  
  #task-list {
    width: 400px;
  }
  
  .material-icons {
    cursor: pointer;
  }

  .task-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .options {
    display: flex;
    gap: 25px;
  }
  
