body {
    font-family: sans-serif;
    margin: 50px 50px;
  }
  
  #container {
    display: flex;
    gap: 50px;
  }
  
  #task-list {
    width: 400px;
  }
  
  .material-icons {
    cursor: pointer;
  }

  #task-container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  
  .task-body {
    display: inline-flex;
  }

  #task-container{
    display: block;
    border-style: dashed;
    border-color: blueviolet;
    border-width: 5px;
  }

  #taskList {
    border-style: dashed;
    border-color: blue;
    border-width: 5px;
  }