html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
  
  #container {
    display: flex;
    gap: 50px;
  }
  
  #task-list {
    width: 400px;
  }
  
  .task-body {
    display: inline-flex;
  }

  #task-container{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
    border-style: dashed;
    border-color: blueviolet;
    border-width: 5px;
  }

  #taskList {
    width: 500px;
    height: fit-content;
    border-style: dotted;
    border-color: blue;
    border-width: 5px;
  }

  .delButton {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    width: fit-content;
    background-color: white;
    color: black;
    border: 2px solid black;
    size: 10px;
    padding: 3px 3px;
    margin-bottom: 10px;
    
    align-self: right;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    background-color: white;
    transition-duration: 0.4s;
  }

  .delButton:hover {
    background-color: red; 
    color: white;
    cursor: pointer;
  }

  .pointer {
    cursor: pointer;  
  }

  .delDiv {
    height: fit-content;
    border-style: dashed;
    border-color: red;
    display: flex;
    
    /* */
    width: 10%;
    float: left;
    padding: 20px;
    border: 2px solid red;

  }

  .taskDiv {
    display: flex;
    align-self: flex-start;
    border-style: dashed;
    border-color: #4CAF50;
    /*  */
    width: 70%;
    float: left;
    padding: 20px;
    border: 2px solid red;
  }

  .taskContainer {
    border: 3px solid #fff;
    padding: 20px;
  }

